.contenedor-pantalla {
  max-width: 1000px;
  margin: auto;
  .buscador-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.modal-crear,
.modal-eliminar,
.modal-editar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  h2 {
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    h4 {
      margin-top: 2rem;
    }
  }
}

.contenedor-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modal-crear {
  .articulos-proveedor{
    margin-bottom: 2rem;
  }
}